version: "3.9"

services:

  jenkins:
    image: jenkins/jenkins:lts-jdk17    # stable LTS with JDK 17
    container_name: jenkins
    user: root
    ports:
      - "8085:8080"
      - "50000:50000"
    environment:
      JAVA_OPTS: "-Xms512m -Xmx2048m"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - devops-net

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_logs:/opt/sonarqube/logs
      - sonar_extensions:/opt/sonarqube/extensions
    networks:
      - devops-net

  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    ports:
      - "8081:8081"
    volumes:
      - nexus_data:/nexus-data
    networks:
      - devops-net

  student-app:
    build: .
    container_name: student-app
    ports:
      - "8090:8080"
    networks:
      - devops-net
    depends_on:
      - nexus
      - sonarqube

networks:
  devops-net:
    driver: bridge

volumes:
  jenkins_home:
  sonar_data:
  sonar_logs:
  sonar_extensions:
  nexus_data:
